$color-light: white;
$color-dark: hsl(217, 14%, 15%);
@mixin borderOutsetVertical($width) {
    border-top: #{$width} solid #{$color-light};
    border-bottom: #{$width} solid #{$color-dark};
}
@mixin borderInsetVertical($width) {
    border-bottom: #{$width} solid #{$color-light};
    border-top: #{$width} solid #{$color-dark};
}
@mixin borderOutsetHorizontal($width) {
    border-left: #{$width} solid #{$color-light};
    border-right: #{$width} solid #{$color-dark};
}
@mixin borderInsetHorizontal($width) {
    border-right: #{$width} solid #{$color-light};
    border-left: #{$width} solid #{$color-dark};
}
@mixin borderOutset($width) {
    @include borderOutsetVertical(#{$width});
    @include borderOutsetHorizontal(#{$width});
}
@mixin borderInset($width) {
    @include borderInsetVertical(#{$width});
    @include borderInsetHorizontal(#{$width});
}
