@use 'macros';

@keyframes hoverFlash {
    0% {
        background-color: #ffffff00;
        filter: blur(0);
    }
    50% {
        background-color: #ffffffff;
        filter: blur(3px);
    }
    100% {
        filter: blur(0);
        background-color: #ffffff00;
    }
}
.window {
    margin: 1rem;
    width: 30rem;
    position: relative;
    top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    border: 1px solid white;
    border-width: 2px 0 0 2px;
    user-select: none;

    .border-bottom {
        height: 1px;
        z-index: 6 !important;
    }

    .border-right {
        width: 1px;
        z-index: 6 !important;
    }

    .menu {
        font-size: 0.9rem;
        display: flex;
        align-items: stretch;
        gap: 1rem;
        padding: 0 0.5rem;
        opacity: 0.9;
        background: linear-gradient(
            90deg,
            var(--color-bg-1) 0%,
            var(--color-bg-1) 80%,
            rgb(255, 255, 255) 100%
        );
        li {
            font-weight: 700;
            text-shadow: 1px 1px #333;
            padding: 0.3rem;
            .inner:not(.disabled):hover {
                cursor: pointer;
                animation: hoverFlash 0.2s ease-in-out;
            }

            .inner.disabled {
                opacity: 0.8;
            }
        }
    }

    nav {
        font-size: 0.9rem;
        padding: 0.2rem 0.5rem;
        display: flex;
        justify-content: stretch;
        background-color: var(--color-bg-2);
        color: black;
        font-weight: 700;
        text-shadow: none;
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
        @include macros.borderOutsetVertical(3px);

        .dimple {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div {
                width: 5rem;
                height: 0;
                @include macros.borderOutset(2px);
                margin: 0.12rem;
                border-radius: 2px;
            }
        }
    }

    .body {
        max-height: 33rem;
        flex: 1;
        overflow-y: auto;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.3);
        user-select: text;

        .profile,
        .crimes,
        .contact {
            padding: 1rem;
            height: fit-content !important;
            font-size: 1.1rem;
            p {
                margin: 1.5rem 0;
            }

            a {
                color: white;
                font-weight: 600;
            }

            li {
                margin-bottom: 1rem;
                margin-left: 1rem;
            }

            img,
            .video-embed {
                width: 20rem;
                margin: 1rem;
                margin-right: 3rem;
                margin-bottom: 2rem;
                border-color: white;
                border-style: solid;
                border-width: 0 2px 1px 0;
                float: left;
                filter: saturate(0.2);
                user-select: none;
                position: relative;
                z-index: 1;
            }

            .video-embed {
                aspect-ratio: 16/9;
                width: 90%;
            }

            .tech {
                padding: 0.5rem 1rem;
                border-left: 2px solid white;
                font-weight: 600;
                position: relative;
                background: linear-gradient(
                    270deg,
                    rgba(76, 102, 126, 0) 0%,
                    rgba(76, 102, 126, 0.7) 100%
                );

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 1px;
                    background: linear-gradient(
                        270deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgb(255, 255, 255) 100%
                    );
                }
            }
        }
        .face {
            width: 17rem;
            margin: 2rem;
            padding: 0;
            aspect-ratio: 1;
            border-color: white;
            border-style: solid;
            background-image: url('/img/face2.png');
            background-size: cover;
            opacity: 0.9;
            image-rendering: pixelated;
            float: left;
            margin-right: 3rem;
            margin-bottom: 2rem;
            .barcode {
                font-size: 2.5rem;
                text-shadow: none;
            }
        }
    }
}
