@use 'reset';
@use 'scanlines';
@use 'open_animation';
@use 'window';
@use 'projects';
@use 'loading';
@use 'consent';
@use 'desktop_icon';

@use 'macros';

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');

@font-face {
    font-family: Rift;
    src: url('/font/The Rift.otf');
}
$color-bg-1: #4c667e;
$color-bg-2: #b4bbc6;
$color-bg-2-dark: #949aae;
$color-wine: #af0708;
:root {
    font-family: 'Rift', 'Orbitron', sans-serif;
    font-optical-sizing: auto;
    --color-bg-1: #{$color-bg-1};
    --color-bg-2: #{$color-bg-2};
    --color-bg-2-dark: #{$color-bg-2-dark};
    --color-wine: #{$color-wine};
    --scrollbar-width: 23px;
    color: white;
    text-shadow: 2px 2px 2px #333;
}

body {
    overflow-x: hidden;
}

* {
    line-height: 1.1 !important;
}

@keyframes bgFlash {
    0% {
        filter: invert(100%);
    }
    100% {
        filter: invert(0);
    }
}

#bg {
    --zoom: -10px;
    position: fixed;
    top: var(--zoom);
    right: var(--zoom);
    bottom: var(--zoom);
    left: var(--zoom);
    background-image: url('/img/aquarium2.jpg');
    background-size: cover;
    image-rendering: pixelated;
    animation: bgFlash 0.5s linear;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    border: 1px solid black;
}

::-webkit-scrollbar-track {
    background: var(--color-bg-2-dark);
    @include macros.borderInset(3px);
}

::-webkit-scrollbar-button {
    @include macros.borderOutset(3px);
    background-color: var(--color-bg-2);
    background-image: url('/img/up_arrow.png');
    background-size: contain;
    height: var(--scrollbar-width);
    &:vertical:increment {
        background-image: url('/img/down_arrow.png');
    }
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-2);
    background-image: url('/img/scrollbar-thumb.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include macros.borderOutset(3px);
}

::selection {
    background-color: white;
    color: black;
    text-shadow: none;
}

.basic-panel {
    padding: 2rem;
    margin: 1rem;
    background: linear-gradient(
        270deg,
        rgba(76, 102, 126, 0) 0%,
        rgba(76, 102, 126, 0.7) 100%
    );
    border-color: white;
    border-style: solid;
    border-width: 0 0 0 3px;
    max-width: 50rem;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(
            270deg,
            rgba(255, 255, 255, 0) 0%,
            rgb(255, 255, 255) 100%
        );
    }

    h1 {
        font-size: 1.4rem;
        font-weight: 700;
    }
}

.basic-panel.right {
    border-width: 0 2px 0 0;
    position: relative;

    &::after {
        $height: 1px;
        height: $height;
        top: calc(100% - $height);
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            rgb(255, 255, 255) 100%
        );
    }
}

.really-small-text {
    user-select: none;
    opacity: 0.7;
    font-size: 0.3rem;
    position: fixed;
    bottom: 0.2rem;
    right: 0.4rem;
    width: 10rem;
    & > * {
        padding: 0.1rem 0;
    }

    h1 {
        font-weight: 700;
        font-size: 0.35rem;
    }

    .barcode {
        margin-top: 0.5rem;
    }
}

.small-text-left {
    position: fixed;
    left: 0.2rem;
    bottom: 10vh;
    width: 20rem;
    mix-blend-mode: darken;
    color: black;
}

.barcode {
    font-family: 'Libre Barcode 39', system-ui;
    font-size: 2rem;
    user-select: none;
}

.dummy-source {
    user-select: none;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 30vh;
    width: 30rem;
    overflow: hidden;
    z-index: 0;
    opacity: 0.1;
    font-weight: 900;
    pre {
        position: absolute;
        bottom: 0;
        font-size: 0.9rem;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0) translateY(0);
        filter: blur(0);
    }
    50% {
        filter: blur(4px);
    }
    100% {
        transform: translateX(-0.2rem) translateY(-0.2rem);
        filter: blur(0);
    }
}

@keyframes extraShake {
    0% {
        transform: translateX(0) translateY(0);
        filter: blur(0) invert(0);
    }
    50% {
        filter: blur(4px) invert(100%);
    }
    100% {
        transform: translateX(-0.2rem) translateY(-0.2rem);
        filter: blur(0) invert(0);
    }
}

.hover-shake:hover {
    animation: shake 0.2s cubic-bezier(0, -1.32, 0.9, 2.07) forwards;
}
.hover-shake:active {
    filter: blur(4px) invert(100%) !important;
}

@media screen and (max-width: 1300px) {
    .side-by-side {
        width: 100% !important;
    }
}

@media screen and (max-width: 1000px) {
    .dummy-source {
        width: 10rem;
        pre {
            font-size: 0.4rem;
        }
    }
}

@media screen and (max-width: 550px) {
    .face {
        width: 13rem !important;
        margin-right: 1rem !important;
    }

    .profile,
    .crimes {
        img,
        .video-embed {
            width: 100% !important;
            margin: 0 0 1rem 0 !important;
        }
    }

    .window .menu li {
        padding: 0.3rem 0rem;
    }
}
@media screen and (max-width: 365px) {
    .projects {
        margin-left: 0.2rem;
        margin-right: 0.3rem;
        .list {
            margin-left: 0;
            margin-right: 0;
        }
    }

    :root {
        --scrollbar-width: 16px;
    }
}
.side-by-side {
    padding-bottom: 4rem;
    display: flex;
    justify-content: stretch;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    width: 80%;
    & > * {
        flex: 1;
    }
}

.side-by-side .icon-container {
    display: flex;
    justify-content: flex-end;
}

.blur-bg {
    backdrop-filter: blur(3px);
}

b {
    font-weight: 800;
}

.border-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0) 0%,
        rgb(255, 255, 255) 100%
    );
}
.border-right {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 2px;
    background: linear-gradient(
        0,
        rgba(255, 255, 255, 0) 0%,
        rgb(255, 255, 255) 100%
    );
}
